# Dependencias
node_modules/

# Build de producción
dist/

# Cache de Vite
.vite/

# Variables de entorno
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Sistema operativo
.DS_Store
Thumbs.db
